* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar>p {
  position: absolute;
  bottom: 3%;
  left: 25%;
  color: white;
}

.sidebar>p>a:link {
  color: white;
}

.sidebar>p>a:visited {
  color: white;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.sidebar>img {
  height: 100vh;
  min-height: 600px;
}

.logo-banner {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 17%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: black;
  opacity: 70%;
}

.logo-banner>img {
  width: auto;
  height: 80%;
}

.logo-banner>p {
  font-size: clamp(3.5em, 9vh, 9vh);
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}