* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.sidebar>img {
  height: 100vh;
  min-height: 600px;
}

.logo-banner {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 17%;
  display: flex;
  flex-direction: row;
  background-color: black;
  opacity: 70%;
}